/*Start - css/dinamico.css*/
*{
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
button{
border:0vw;
}
iframe{
width:100%;
height:100%;
border:0vw;
}
svg{
vertical-align:middle;
}
.banner-interno{
width:100%;
height:19.6vw;
background-color:rgba(255,0,0,0.5);
background-repeat:no-repeat;
background-size:100% auto;
background-position:top left;
}
.box-tela-grande{
max-width:1920px; /*1920px - setar aqui o width maximo*/
margin:0 auto;
}
.box{
width:83vw;
height:auto;
margin:0 auto;
background-color:rgba(255,0,0,0);
overflow:hidden;
}
.box-elastica{
background-color:rgba(0,255,255,0.5);
width:auto;
height:100%;
}
.texto-centralizado{
text-align:center;
}
.btn-amarelo{
background-color:rgba(0,255,255,1);
width:10vw;
height:10vw;
}
.btn-azul{
background-color:rgba(0,255,255,1);
width:10vw;
height:10vw;
}
.fonte-amarela{
color:rgba(0,255,255,1);
}
.fonte-azul{
color:rgba(0,255,255,1);
}
.fonte-vermelha{
color:rgba(255,0,0,1);
}
.negrito{ font-weight:bold }
.italico{ font-style:italic }
.sublinhado{ text-decoration:underline }
.riscado{ text-decoration:line-through; }
.centralizado{ text-align:center; }
.esquerda{ text-align:left; }
.direita{ text-align:right; }
.justificar{ text-align:justify; }

/*Start - GRID*/
.linha{ width:100%; height:auto; line-height:2vw; float:left; margin-top:0.5vw; margin-bottom:0.5vw;}
.separador{ width:100%; height:2vw; line-height:2vw; float:left; margin-top:0.5vw; margin-bottom:0.5vw;}
.col05{ width:4%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col10{ width:9%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col15{ width:14%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col16{ width:15.66%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col20{ width:19%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col25{ width:24%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col30{ width:29%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col33{ width:33.33%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col35{ width:34%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col40{ width:39%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col45{ width:44%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col50{ width:49%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col55{ width:54%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col60{ width:59%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col65{ width:64%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col66{ width:64.66%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col70{ width:69%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col75{ width:74%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col80{ width:79%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col85{ width:84%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col90{ width:89%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col95{ width:94%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
.col100{ width:99%; height:100%; float:left; padding-left:0.5%; padding-right:0.5%; }
/*End - GRID*/

/*Start - XDEBUG ERROR WARNING FIX*/
.xdebug-error.xe-warning{
position: absolute;
z-index: 999999;
top: 0vw;
left: 0vw;
border-width: 0.3vw;
border-style: solid;
border-color: red;
background-color: black !important;
color: white !important;
max-width: 80%;
max-height: 80%;
overflow: auto;
border-radius: 0.5vw;
box-shadow: 0 0.5vw 2vw rgba(0,0,0,0.8);
}
.xdebug-error.xe-warning table{
width: 100%;
border-collapse: collapse;
font-family: monospace;
font-size: 0.8vw;
color: white !important;
background-color: black !important;
}
.xdebug-error.xe-warning th{
background-color: #333 !important;
border-width: 0.05vw;
border-style: solid;
border-color: #555;
padding: 0.5vw;
text-align: left;
font-weight: bold;
color: white !important;
}
.xdebug-error.xe-warning td{
border-width: 0.05vw;
border-style: solid;
border-color: #555;
padding: 0.5vw;
vertical-align: top;
color: white !important;
background-color: black !important;
}
.xdebug-error.xe-warning tr:nth-child(even){
background-color: #222 !important;
}
.xdebug-error.xe-warning tr:nth-child(even) td{
background-color: #222 !important;
}
.xdebug-error:not(:first-of-type){
display: none !important;
}
/*End - XDEBUG ERROR WARNING FIX*/

@media only screen and (max-width:1279px) {
	
.box{
width:90vw;
height:auto;
}

.col05,
.col10,
.col15,
.col20,
.col25,
.col30,
.col35,
.col40,
.col45,
.col50,
.col55,
.col60,
.col65,
.col70,
.col75,
.col80,
.col85,
.col90,
.col95,
.col100,
.col33{
width:100%;
height:auto;
}

}

/*Start - SWITCH*/
.on{
display:block !important;
}
.off{
display:none !important;
}
/*End - SWITCH*/

/*End - css/dinamico.css*/