/*Start - css/global.css*/
*{
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
html {
scroll-behavior: smooth;
}
body{
margin:0;
padding:0;
font-family:var(--segoe);
font-size: var(--fontSize);
line-height:var(--lineHeight);
color:var(--corFonte);
background-color:var(--corFundo);

background-image:url("templates/home.png");
background-repeat:no-repeat;
background-position:left top;
background-size:100% auto;
}
a,
a:active,
a:visited,
a:focus{
text-decoration: none;
color:inherit;
font-weight: inherit;
}
p{
margin:0vw;
padding:0vw;
}
svg{
height:1vw;
fill:red;
}

.home-base{
width:100%;
height:2000vw;
background-color:var(--teste00);
float:left;
}
/*End - css/global.css*/