/*Start - css/home-0.css*/

.home-0{
width:100%;
height:auto;
background-color:rgba(255,0,0,0.2);
float:left;
padding-bottom:5vw;
}
.home-0-classe{
width:5vw;
height:5vw;
background-color:rgba(255,0,0,0.2);
float:left;
margin-top: 0vw;
margin-left: 0vw;
}

@media only screen and (max-width:1024px){

.home-0{
padding-bottom:15vw;
}
.home-0-classe{
width:15vw;
height:15vw;
}

}
/*End - css/home-0.css*/