/*Start - css/scrollbar.css*/
*{
scrollbar-color: var(--corPrimaria) white;
}
::-webkit-scrollbar{
background-color:white;
}
::-webkit-scrollbar-thumb{
background-color:var(--corPrimaria);
border-radius:50px;
}
/*End - css/scrollbar.css*/